@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root {
    --color-primaria: #322a6e;
    --color-secundaria: #e2c635;
    --color-terciaria: #b6aed8;
    --color-hover: #dab708;

    --fuente-montserrat: 'Montserrat', sans-serif;
} 
[data-theme="light"] {
    --color-primaria: #AFA2FF;   
    --color-secundaria: #FFE680; 
    --color-terciaria: #EAE2FF;  
    --color-hover: #8678FF;    

    --fuente-montserrat: 'Montserrat', sans-serif;
}

.pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 2rem;
}
.pagina__titulo{
    font-family: var(--fuente-montserrat);
    font-size: 5rem;
    color: var(--color-secundaria);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.pagina__desc{
    font-family: 'Montserrat',sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin: 0 auto 2.5rem;
    color:#e4d68f
}
.pagina__boton{
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    width: 50%;
    padding: 1rem;
    color: var(--color-primaria);
    font-weight: bold;
    background-color: var(--color-secundaria);
    border-radius: 50px;
    
}
.pagina__boton:hover{
    background-color: var(--color-hover);
    width: 80%;
    transition: 0.5s;
}


@media screen and (min-width:750px){
    .pagina{
        background-image: url('../img/port1.jpg');
        background-position: center;
        background-size: cover;
        padding-top: 8rem;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); 
        background-blend-mode: overlay; 
    }
}
.nose{
    background-color: var(--color-primaria);
    width: 100%;
    text-align: center;
    height: 300px;
    
}

.pagina__titulo{
    font-family: var(--fuente-montserrat);
    font-size: 5rem;
    color: var(--color-secundaria);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 50px;
}