:root {
    --color-primaria: #5c8d7b;  
    --color-secundaria: #e7f0d5; 
    --color-terciaria: #c1e1a6;  
    --color-hover: #73a37d;      

    --fuente-montserrat: 'Montserrat', sans-serif;
}
body {
	background-color: var(--color-primaria);
	font-family: 'Open Sans',Arial,sans-serif;
	color: var(--color-secundaria);
}

.container {
	width: 94%;
	margin: 0 auto;
	
}

.headerPrincipal {
	background-color: var(--color-primaria);
	padding: 35px 0;
}

.headerPrincipal-titulo {
    font-weight: 900;
    letter-spacing: 8px;
    font-size: 2.5em; 
    text-align: center;
    margin-bottom: 50px;
}

.headerPrincipal-titulo a {
    text-decoration: none;
    color: var(--color-terciaria);
}

.headerPrincipal-nav {
    display: flex;
    justify-content: center; 
    gap: 15px; 
	margin-top: 40px;
}

.headerPrincipal-nav-link {
    padding: 12px 20px;
    color: #fff;
    background-color: var(--color-hover);
    text-decoration: none;
    transition: 0.3s ease-in-out;
    border-radius: 8px; 
    font-weight: bold;
    font-size: 1.1em;
    border: 2px solid var(--color-terciaria); 
}


.headerPrincipal-nav-link:hover {
    background-color: var(--color-secundaria);
    color: var(--color-primaria);
    transform: scale(1.05); 
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}
.headerPrincipal-nav {
	display: flex;
	justify-content: right;
}

.headerPrincipal-nav-link {
	margin: 0 10px;
	
}

.contenidoPrincipal {
	margin-top: 20px;
	margin-bottom: 20px;
	color: var(--color-secundaria);
}

.subtitulo {
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
	text-align: center;
	color: var(--color-primaria);
	background-color: var(--color-secundaria);
	padding: 10px;

}

.contenidoPrincipal-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 70px; 
    justify-content: center;
    padding: 20px 0;
}

.contenidoPrincipal-productos-link {
    height: 150px;
    background-color: var(--color-secundaria);
    text-align: center;
    transition: .3s;
    position: relative;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contenidoPrincipal-productos-link a {
	text-decoration: none;
    color: var(--color-primaria);
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    
}

.contenidoPrincipal-productos-link:hover {
	box-shadow: 6px 6px 6px var(--color-hover);
	transform: scale(1.05);
}

.contenidoPrincipal-productos-link a:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px auto;
}

.contenidoPrincipal-productos-link:nth-child(even) a:before {
	background: url(../img/background1.svg) no-repeat;	
	background-size: cover;
}

.contenidoPrincipal-productos-link:nth-child(odd) a:before {
	background: url(../img/background2.svg) no-repeat;
	background-size: cover;
}


.rodapePrincipal {
	background-color: var(--color-hover);
	padding: 40px 5%;
}

.rodapePrincipal .subtitulo {
    margin-bottom: 15px;
}

.rodapePrincipal-navMap-link {
	text-decoration: none;
	color: var(--color-secundaria);
	margin-top: 10px;
	margin-left: 15px;
}

.rodapePrincipal-navMap-list {
	display: block;
    font-size: 1.1em;
    color: var(--color-secundaria);
    text-decoration: none;
    margin: 5px 0;
    transition: color 0.3s;
}

.navmap-list-title {
	font-weight: 700;
	margin: .9em 0;
	padding-left: .3em;
	padding-top: .2em;
	padding-bottom: .2em;
	margin-bottom: 10px;
}
.rodapePrincipal-navMap-link:hover {
    color: var(--color-terciaria);
}
.navmap-list-title + .rodapePrincipal-navMap-link {
	margin-top: 0;
}

.navmap-list-title-zara { color: #5ac3ec; border-left: 4px solid #5ac3ec; padding-left: 5px; }
.navmap-list-title-adidas { color: #725da0; border-left: 4px solid #725da0; padding-left: 5px; }
.navmap-list-title-nike { color: #5e68f3; border-left: 4px solid #5e68f3; padding-left: 5px; }
.navmap-list-title-polo { color: #6725d2; border-left: 4px solid #6725d2; padding-left: 5px; }

.rodapePrincipal-patrocinadores {
	background:  rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-top: 30px;
    text-align: center;
}
.rodapePrincipal-patrocinadores-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style: none;
}
.rodapePrincipal-contatoForm {
	margin-top: 20px;
	text-align: center;
}

.rodapePrincipal-contatoForm label[for=email-contato] {
	font-weight: bold;
	font-size: 14px;
	color: var(--color-primaria);
	margin-bottom: 5px;
	display: block;
}

.rodapePrincipal-contatoForm-emailInput {
	padding: 10px;
    border: 1px solid var(--color-primaria);
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
}

.rodapePrincipal-contatoForm-submit {
	background-color: var(--color-hover);
    color: var(--color-secundaria);
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s;
	
}

.rodapePrincipal-contatoForm-submit:hover {
    background-color: var(--color-terciaria);
    transform: scale(1.05);
}
.rodapePrincipal-contatoForm-submit,
.rodapePrincipal-contatoForm-emailInput {
	outline: 0;
	border: 1px solid #4DBA7A;
	box-sizing: border-box;
	font-size: 16px;
}

.rodapePrincipal-contatoForm-legend {
	font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
}




.videoSobre {
    background-color: var(--color-primaria);
    padding: 50px 10%;
    display: flex;
    justify-content: center;
}

.containerNose{
    display: flex;
    align-items: center; 
    justify-content: space-around;
    flex-wrap: wrap; 
    max-width: 1100px;
    width: 100%;
}

.videoSobre-video {
    width: 50%; 
    max-width: 500px; 
    height: 250px;
    border-radius: 15px;
}

.videoSobre-sobre {
    width: 45%;
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 20px;
    border-radius: 10px;
    color: var(--color-secundaria);
}


.videoSobre-sobre-title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 10px;
	padding-left: 15px;
}

.videoSobre-sobre-list {
    font-size: 1.2em;
    line-height: 1.8;
    padding-left: 20px;
}


.videoSobre-button {
    border-radius: 8px;
    background-color: var(--color-hover);
    color: var(--color-secundaria);
    border: none;
    padding: 14px 24px;
	margin-top: 15px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.videoSobre-button:hover {
    background-color: var(--color-terciaria);
    color: var(--color-primaria);
    transform: scale(1.05);
}


@media(min-width: 769px) {

	.container {
		width: 85%;	
	}

	.subtitulo {
		text-align: left;
	}

	.headerPrincipal-nav-link {
		border-radius: 5px;
		border: 1px solid #9799A6;
	}

	.headerPrincipal-nav-link:hover {
		color: #FFF;
		background-color: #9799A6;
	}

	.headerPrincipal-titulo {
		margin: 0;
	}

	.headerPrincipal-nav {
		width: auto;
	}

	.headerPrincipal-nav-link {
		width: auto;
		margin: 0 0 0 10px;
	}

	.rodapePrincipal-contatoForm {
		margin-top: 0;
		text-align: left;
	}

	.contenidoPrincipal-cursos-link:nth-child(3n) {
		margin-right: 0;
	}

	.contenidoPrincipal-cursos-link:nth-child(3n+1) {
		margin-left: 0;
	}

}

@media(min-width: 1000px) {
	.contenidoPrincipal-cursos-link {
		margin: 1.333%;
	}

	.contenidoPrincipal-cursos-link:nth-child(3n) {
		margin-right: 1.33%;
	}

	.contenidoPrincipal-cursos-link:nth-child(3n+1) {
		margin-left: 1.333%;
	}

	.contenidoPrincipal-cursos-link:nth-child(4n) {
		margin-right: 0;
	}

	.contenidoPrincipal-cursos-link:nth-child(4n+1) {
		margin-left: 0;
	}

	.videoSobre-sobre {
		margin-left: 1.5em;
	}

}


